alembic
appdirs
asgiref
bcrypt
beautifulsoup4
blinker
certifi
cffi
chardet
click
distlib
dnspython
dominate
email-validator
filelock
Flask
Flask-Bcrypt
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
MouseInfo
Pillow
pipenv
psycopg2
PyAutoGUI
pycparser
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
python-dateutil
python-editor
PyTweening
pytz
pywhatkit
requests
selenium
six
soupsieve
SQLAlchemy
sqlparse
svgwrite
Tree
urllib3
virtualenv
virtualenv-clone
visitor
Werkzeug
wikipedia
WTForms
