{% extends "layout.html" %}

{% block content %}
  {% for post_with_likes in posts_with_likes %}
  {% set post = post_with_likes.post %}
  <div class="container" style="display: flex;">
    <article class="media" style="display: flex; flex-direction: column;">
      <!-- Отображение аватара автора поста -->
      <img class="rounded-circle article-img" style="margin-right: 5px;" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
      <a href="{{ url_for('users.user_posts', username=post.author.username) }}" id="author" style="margin: 0 auto;">{{ post.author.username }}</a>
    </article>

    <div class="card" style="margin-bottom: 20px;">
      <div class="card-body">
        <h4 class="card-title"><a class="title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h4>
        <small>Опубликовано {{ post.date_posted.strftime('%A, %d %B %Y %I:%M %p') }}</small>
        <br><br>
        
        <!-- Отображение изображения поста, если оно существует -->
        {% if post.image_file and post.image_file != 'default.png' %}
          <img src="{{ url_for('static', filename='post_pics/' + post.image_file) }}" alt="Изображение поста" class="post-image">
        
        {% endif %}
        
        <p class="card-text">{{ post.content }}</p>

        <!-- Отображение кнопок лайков и дизлайков -->
        <div class="like-dislike-btns">
          <form method="post" action="{{ url_for('posts.allpost', page=page) }}">
            {{ like_form.hidden_tag() }}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button type="submit" name="like">
              <img src="{{ url_for('static', filename='images/like.svg') }}" alt="Like">
              <span class="like-count">{{ post_with_likes.likes_count }}</span>
            </button>
          </form>
          <form method="post" action="{{ url_for('posts.allpost', page=page) }}">
            {{ like_form.hidden_tag() }}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button type="submit" name="dislike">
              <img src="{{ url_for('static', filename='images/dislike.svg') }}" alt="Dislike">
              <span class="dislike-count">{{ post_with_likes.dislikes_count }}</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- Пагинация -->
  {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if pagination.page == page_num %}
        <a class="btn btn-success mb-4" href="{{ url_for('posts.allpost', page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-success mb-4" href="{{ url_for('posts.allpost', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock content %}
