{% extends "layout.html" %}

{% block content %}
<div class="container container-relative" id="bg-page">
    <div class="heading">
        <h1>WELCOME!</h1>
    </div>
    <hr class="w3-border-grey" style="margin:auto; width:40%;">
    <br>
    <div class="content-body">
        <p class="card-text" id="para">Welcome to my <strong><em>forum!</em></strong>
            Thank you so much for visiting. I'm thrilled to have you here in the world of rumors and discussions! It's fantastic to see you here. Let me tell you one thing: you can not only explore the latest rumors, but also get updates and share your own thoughts...</p>
    </div>
    <br>
</div>
{% endblock content %}
