{% extends "layout.html" %}

{% block content %}
<div class="container" style="display: flex;">
  <article class="media" style="display: flex; flex-direction: column;">
    <!-- Display post author's avatar -->
    <img class="rounded-circle article-img" style="margin-right: 5px;" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}" style="margin: 0 auto">{{ post.author.username }}</a>
  </article>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ post.title }}</h4>
      <small>Posted on <span class="post-time" data-utc-time="{{ date_posted_utc }}"></span></small>
      <br><br>

      {% if post.image_file and post.image_file != 'default.png' %}
        <!-- Display post image -->
        <div class="form-group">
          <div style="text-align: center;">
            <img class="post-image" src="{{ url_for('static', filename='post_pics/' + post.image_file) }}">
          </div>

        </div>
      {% endif %}

      <p class="card-text">{{ post.content }}</p>

      <!-- Comments -->
      <div>
        <h5>Comments:</h5>
        {% for comment in post.comments %}
          <div class="comment">
            <img class="rounded-circle comment-img" src="{{ url_for('static', filename='profile_pics/' + comment.user.image_file) }}" alt="{{ comment.username }}">
            <div class="comment-content">
              <strong>{{ comment.username }}</strong> - 
              <small>{{ comment.timestamp.strftime('%Y-%m-%d %H:%M') }}</small>
              <p>{{ comment.body }}</p>
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- Comment form -->
      <form action="{{ url_for('posts.post', post_id=post.id) }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.comment.label }}
          {{ form.comment(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary" name="submit">Add Comment</button>
      </form>

      <!-- Like and dislike buttons -->
      <div class="like-dislike-btns">
        <form action="{{ url_for('posts.post', post_id=post.id) }}" method="post" style="display:inline-block;">
          {{ like_form.hidden_tag() }}

          <!-- Like button -->
          <button name="like" type="submit">
            <img src="{{ url_for('static', filename='images/like.svg') }}" alt="Like">
            <span class="like-count">{{ likes_count }}</span>
          </button>

          <!-- Dislike button -->
          <button name="dislike" type="submit">
            <img src="{{ url_for('static', filename='images/dislike.svg') }}" alt="Dislike">
            <span class="dislike-count">{{ dislikes_count }}</span>
          </button>
        </form>
      </div>
    </div>

    <div class="card-footer" style="font-size: 20px;">
      {% if post.author == current_user %}
        <div class="card-footer" style="font-size: 20px;">
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{url_for('posts.update_post', post_id=post.id) }}">Update</a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- Modal for delete confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const timeElements = document.querySelectorAll('.post-time');
    
    timeElements.forEach(function (element) {
        const utcTime = element.getAttribute('data-utc-time');
        const localTime = new Date(utcTime);
        
        // Format time in the desired format
        element.textContent = localTime.toLocaleString('en-US', {
            weekday: 'long', 
            year: 'numeric', 
            month: 'long', 
            day: 'numeric',
            hour: '2-digit', 
            minute: '2-digit'
        });
    });
  });
</script>

{% endblock content %}
