/* Универсальные стили для изображений в постах */
img.post-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Основные стили */
body {
  background-color: #1e1e1e;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin-top: 6.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.bg-steel {
  background-color: #343a40;
}

.site-header .navbar-nav .nav-link {
  color: #adb5bd;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #2b2b2b;
  padding: 10px 20px;
  border: 1px solid #444444;
  border-radius: 3px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  margin: 0 auto;
}

.article-title {
  color: #e0e0e0;
}

a.article-title:hover {
  color: #17a2b8;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
  border-radius: 50%;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #444444;
}

.article-metadata a:hover {
  color: #17a2b8;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  border-radius: 50%;
}

.account-heading {
  font-size: 2.5rem;
  color: #ffffff;
}

/* Стили для карточек */
.card {
  border-radius: 15px;
  background-color: #2b2b2b;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  width: 92%;
  max-width: 800px;
  margin: 20px auto;
}

.card-body {
  padding: 15px;
}

.card-title {
  margin-bottom: 0 !important;
  font-family: 'Bebas Neue', cursive;
  color: #ffffff;
}

/* Стили для ссылок и текста */
a {
  color: #17a2b8;
}

small {
  color: #adb5bd;
}

p {
  color: #e0e0e0;
}

.text-secondary {
  color: #adb5bd;
}

/* Стили для кнопок лайка и дизлайка */
.like-dislike-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.like-dislike-btns button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.like-dislike-btns button img {
  margin-right: 5px;
  width: 24px;
}

.like-dislike-btns .like-count,
.like-dislike-btns .dislike-count {
  font-size: 18px;
  margin-left: 5px;
  color: #ffffff;
}

/* Стили для фона */
#bg-page:before {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
  background-image: url('../static/images/bg.jpg');
  background-size: cover;
}

.container-relative {
  position: relative;
  z-index: 1;
  margin: 12rem 4rem;
  text-align: center;
}

/* Стили для текста */
.card-text {
  text-align: justify;
  font-weight: 500;
  font-size: 22px;
  color: #e0e0e0;
}

/* Стили для заголовка */
.heading > h1 {
  font-size: 55px;
  font-family: 'Alice', serif;
  color: #ffffff;
  text-shadow: 2px 2px #343a40;
}

/* Стили для кнопок */
.container-relative > button {
  color: #17a2b8;
  padding: 7px;
  border: 1px solid #17a2b8;
  border-radius: 5px;
  transition: 0.3s ease;
}

.container-relative > button:hover {
  color: #ffffff;
  background-color: #17a2b8;
}

/* Стили для навигационных ссылок */
.navigation-links {
  color: #ffffff !important;
  font-weight: 500;
  background-color: #343a40;
  border-radius: 5px;
  border-bottom: 4px solid #17a2b8;
  margin: 5px;
  background-size: 200% 200%;
  background-image: linear-gradient(transparent 50%, #17a2b8 50%);
  transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}

.navigation-links:hover {
  color: #ffffff;
  background-image: linear-gradient(transparent 50%, #17a2b8 50%);
  background-position: 0% 100%;
}

/* Стили для навигационной панели */
.navbar {
  background-color: #2b2b2b;
  box-shadow: 0px 1px 10px black;
}

.navbar .container {
  margin-bottom: 0;
}

/* Стили для flash-сообщений */
.flash-message {
  position: relative;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.flash-message.success {
  background-color: rgba(72, 180, 97, 0.9);
  color: white;
}

.flash-message.danger {
  background-color: rgba(220, 53, 69, 0.9);
  color: white;
}

.flash-message.warning {
  background-color: rgba(255, 193, 7, 0.9);
  color: black;
}

.flash-message.info {
  background-color: rgba(23, 162, 184, 0.9);
  color: white;
}

/* Стили для комментариев */
.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.comment-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.comment-content {
  flex: 1;
  color: #e0e0e0;
}

.comment-content strong {
  font-size: 1rem;
  margin-right: 5px;
  color: #ffffff;
}

.comment-content small {
  color: gray;
}

.comment-content p {
  margin: 0;
  padding-top: 5px;
  color: #e0e0e0;
}
